.intro {
    margin: 0;
    padding: 12px 10vw;
}

.education,
.selfIntro {
    margin-bottom: 1.5rem;
}

.single-line-text {
    color: #666;
    font-size: 28rpx;
    line-height: 42rpx;
}

.myself {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.gray-text {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    marign: margin;
    margin: 10px 0;
}

.title-invert-block {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 0.8rem;
    &--top,
    &--bottom {
        font-size: 48px;
        font-weight: bold;
        background-color: #6190E8;
        color: #fff;
        display: block;
        padding: .25em;
        line-height: 58px;
    }
    &--bottom {
        position: absolute;
        background-color: #fff;
        color: #6190E8;
        clip-path: inset(-1% -1% 50% -1%);
        // Added the negative values to prevent icky
        //  "bleed" in Chrome
    }
}