.education,
.selfIntro {
    margin-bottom: 1.5rem;
}

.intro {
    min-height: calc(100vh - 12px);
    background: #f8f8f8;
}

.single-line-text {
    color: #666;
    font-size: 28rpx;
    line-height: 42rpx;
}

.myself {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.gray-text {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    marign: 0;
    margin: 10px 0;
}

.socials {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80vw;
}