body {
    position: relative;
}

.skills {
    overflow: hidden;
    position: absolute;
    top: 0;
    background: #f8f8f8;
    width: 100vw;
    min-height: 100vh;
    padding-bottom: 10vh;
}

.skills .container {
    z-index: 1;
    position: relative;
}

.skills::before {
    content: "技能";
    font-size: 20rem;
    z-index: 0;
    position: fixed;
    top: -21vw;
    left: 12vw;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(-37deg);
    color: #0000000d;
    -webkit-text-fill-color: #ffffff5c;
    -webkit-text-stroke-width: 19rpx;
    -webkit-text-stroke-color: #00000005;
}

.skill {
    margin-top: 1rem;
}

.tinycards {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.tinycard-image {
    // width: 10px;
    object-fit: contain;
}