@import './styles/font';
.index {
    font-family: 'Harmony';
    // font-family: 'Courier New', Courier, monospace;
}

.index {
    background: #F8F8F8;
    height: 100vh;
}

.mb-3 {
    margin-bottom: 1.5rem;
}

.mb-5 {
    margin-bottom: 3rem;
}

.center {
    display: flex;
    justify-items: center;
    align-items: center;
}

.round-button {
    min-width: 60px !important;
}

.container {
    margin: 0;
    padding: 12px 10vw;
}

// invert-title component
.title-invert-block {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 0.8rem;
    &--top,
    &--bottom {
        font-size: 48px;
        font-weight: bold;
        background-color: #6190E8;
        color: #fff;
        display: block;
        padding: .25em;
        line-height: 58px;
    }
    &--bottom {
        position: absolute;
        background-color: #fff;
        color: #6190E8;
        clip-path: inset(-1% -1% 50% -1%);
        // Added the negative values to prevent icky
        //  "bleed" in Chrome
    }
}

.title-invert-block--bottom {
    background-color: #f8f8f8;
}

.at-divider__content {
    background-color: #f8f8f8 !important;
}